<div class="container">
  <h3>Account Routes</h3>
  <div class="container">
    <span><span class="badge bg-primary">GET</span><span class="fw-bold">&nbsp; /account</span><hr/>
    <span><span class="badge bg-warning">PUT</span><pan class="fw-bold">&nbsp; /account </span><hr/>
    <span><span class="badge bg-danger">DELETE</span><pan class="fw-bold">&nbsp; /account </span><hr/>
    <span><span class="badge bg-success">POST</span><pan class="fw-bold">&nbsp; /account/signup </span><hr/>
    <span><span class="badge bg-success">POST</span><pan class="fw-bold">&nbsp; /account/login </span><hr/>
    <span><span class="badge bg-success">POST</span><pan class="fw-bold">&nbsp; /account/changePassword </span><hr/>
  </div>
  <br>
</div>