<div class="container">
  <h3>User Routes</h3>
  <div class="container">
    <span><span class="badge bg-primary">GET</span class="fw-bold">&nbsp; /users </span><hr/>
    <span><span class="badge bg-primary">GET</span class="fw-bold">&nbsp; /users/:id </span><hr/>
    <span><span class="badge bg-success">POST</span class="fw-bold">&nbsp; /users </span><hr/>
    <span><span class="badge bg-warning">PUT</span class="fw-bold">&nbsp; /users/:id </span><hr/>
    <span><span class="badge bg-danger">DELETE</span class="fw-bold">&nbsp; /users/:id </span><hr/>
  </div>
  <br>
</div>